<nav class="navbar navbar-expand-lg navbar-light bg-dark">
      {{!-- <h1><img src='/images/UnicornLogo.png' style='height: 80px'/></h1> --}}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link unicorn-text-color" href="/">Home</a>
      </li>
      
      <li class="nav-item">
        {{#if logged_in}}
        <a class="nav-link unicorn-text-color" href="/dashboard/{{user_id}}">Dashboard</a>
          {{/if}}
      </li>
      <li class="nav-item"><a class="nav-link unicorn-text-color" id="inout"
        {{#if logged_in}}
         href="#">Logout
        {{else}}
         href="/login">LogIn
         {{/if}}
         </a>
      </li>
      
    </ul>
  </div>
</nav>
<script src="/js/logout.js"></script>