{{> homeNavbar}}
<form class="m-3">
    <div class="form-group">
        <label for="title">Post Title</label>
        <input type="text" class="form-control" id="title">
    </div>
    <div class="form-group">
        <label for="content">Post Content</label>
        <textarea class="form-control" id="content" rows="3"></textarea>
    </div>
    <button type="submit" id="new-post-submit" class="btn btn-info">Submit</button>
</form>
<script src="/js/logout.js"></script>
<script src="/js/newPost.js"></script>